<!DOCTYPE html>
<html>
<head>
  <title>Ambulanceforce</title>
  
</head>
<body>
<div style="text-align:center"><h1> Ambulance force app</h1>

<br>
<h3><a class="brand" href="/admin"> go to admin <span class="hidden-phone"></span></a></h3>

</div>
</body>
</html>