<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @driverprofile.name %>
</p>

<%= link_to 'Edit', edit_driverprofile_path(@driverprofile) %> |
<%= link_to 'Back', driverprofiles_path %>
