<h1>New driver</h1>

<%= render 'form' %>
<% if params[:vendor_id].blank? 
  if current_admin.role =='vendor' %>
<%#= link_to 'Back', admin_drivers_path %>
<%
end
else
  %>
  <%#= link_to 'Back', admin_vendor_drivers_path %>

  <% end %>

